<div class="background">
    <button class="x icon" (click)="clickClosed.emit()">&#xe08c;</button>
    <div class="flex-column">
        <label class="text audiowide">Pobierz aplikację mobilną LSOApp i bądź ze swoją parafią w stałym kontakcie!</label>
        <img class="phone" src="../../../assets/img/telefon-485x1024.png">
        <div class="flex-row">
            <button class="badge android" (click)="openURL('https://play.google.com/store/apps/details?id=com.msf.lsoapp&hl=pl')"></button>
            <button class="badge ios" (click)="openURL('https://apps.apple.com/us/app/lso-app/id1491205224?l=pl&ls=1')"></button>
        </div>
    </div>
</div>
