.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.x,
.x:link,
.x:visited {
    position: fixed;
    top: 3rem;
    right: 3rem;
    text-decoration: none;
    display: inline-block;
    background: transparent;
    transition: all .2s;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    z-index: 51;
}

.text {
    text-align: center;
    font-size: 1.7rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70%;
}

@media only screen and (max-width: 1200px) {
    .flex-column {
        width: 40%;
        height: 80%;
    }
}

@media only screen and (max-width: 850px) {
    .flex-column {
        width: 50%;
        height: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .flex-column {
        width: 90%;
        height: 100%;
    }
}

.phone {
    width: 55%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
}

.badge,
.badge:link,
.badge:visited {
    width: 40%;
    height: 100%;
    /* height: 5rem; */
    display: inline-block;
    transition: all .2s;
    border: none;
    cursor: pointer;
}

.badge:focus,
.x:focus {
    outline: none;
}

.badge:active,
.x:active {
    transform: translateY(2px);
}

.android {
    background: url('../../../assets/img/google-play-badge.png') no-repeat;
    background-position: center;
    background-size: contain;
}

.ios {
    background: url('../../../assets/img/download-on-the-app-store-apple.png') no-repeat;
    background-position: center;
    background-size: contain;
}
