<div class="container">
  <label class="title audiowide">Zapomniałem hasła</label>
  <div class="container-white">
    <label>W celu odzyskania dostępu do konta, wprowadź poniżej swój adres e-mail:</label>
    <form #loginForm="ngForm" class="form">
      <div class="input-object">
        <label class="input-object-title audiowide">E-Mail</label>
        <input required class="input-object-description lexend" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Wpisz swój e-mail" type="email" name="email" [(ngModel)]="_email">
      </div>
    </form>
  </div>
  <button class="navigation-button back audiowide" routerLink="/login">Anuluj</button>
  <button class="navigation-button confirm audiowide" [disabled]="!loginForm.valid">Kontynuuj</button>
</div>
