<div class="container-s">
    <label class="title-s audiowide">Zapomniałem hasła</label>
    <div class="container-s-white">
        <label class="text-align-center-s">W celu odzyskania dostępu do konta, wprowadź poniżej swój adres e-mail:</label>
        <form #loginForm="ngForm" class="form-s">
            <div class="input-object-s">
                <label class="input-object-s-title audiowide">E-Mail</label>
                <input autocomplete="email" required class="input-object-s-description lexend" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Wpisz swój e-mail" type="email" name="email" [(ngModel)]="_email">
            </div>
        </form>
    </div>
    <button class="navigation-button-s back-s audiowide" routerLink="/login">Anuluj</button>
    <button class="navigation-button-s confirm-s audiowide" [disabled]="!loginForm.valid || ladowanie" (click)="wyslij()">Kontynuuj</button>
</div>
