<div class="container-main">

    <div class="title-bar">
        <div class="title-bar-center">
            <img src="../../assets/img/logo.png" class="img" alt="LSOApp">
        </div>
        <button class="menu-button icon" *ngIf="isNavigation" (click)="navigationMenu = !navigationMenu"> {{navigationMenu ? '&#xe08c;' : '&#xe017;'}}</button>
    </div>

    <div class="router">
        <router-outlet name="admin"></router-outlet>
    </div>

    <div class="navigation-panel" *ngIf="(navigationMenu && isNavigation) || !isNavigation">
        <div class="navigation-flex">

            <label class="options-name audiowide" *ngIf="parafiaService.nazwaParafii">p. pw. {{parafiaService.nazwaParafii}}</label>

            <div class="navigation-section">
                <label class="options-name">Zarządzanie</label>
                <div class="navigation-section-options">
                    <label class="navigation-button-menu audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['mass']}}]" (click)="navigationMenu = false;">Sprawdź obecność</label>
                    <label class="navigation-button-menu audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['acolythes-messages']}}]" (click)="navigationMenu = false;" *ngIf="!isMobile">Ministranci i wiadomości</label>
                    <label class="navigation-button-menu audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['acolythes-messages']}}]" (click)="ui.showLeftComponent = true; navigationMenu = false;" *ngIf="isMobile">Ministranci</label>
                    <label class="navigation-button-menu audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['acolythes-messages']}}]" (click)="ui.showLeftComponent = false; navigationMenu = false;" *ngIf="isMobile">Wiadomości</label>
                    <label class="navigation-button-menu audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['new-acolythe']}}]" (click)="navigationMenu = false;">Dodaj ministranta</label>
                </div>
            </div>

            <div class="navigation-section">
                <label class="options-name">Punkty</label>
                <div class="navigation-section-options">
                    <label class="navigation-button-menu audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['punctation']}}]" (click)="navigationMenu = false;">Zmień punktację</label>
                    <label class="navigation-button-menu audiowide" (click)="wyzerujPunkty()">Wyzeruj punkty</label>
                    <label class="navigation-button-menu audiowide" (click)="generujRaport()">Generuj raport</label>
                </div>
            </div>

            <div class="navigation-section">
                <label class="options-name">Wydarzenia</label>
                <div class="navigation-section-options">
                    <label class="navigation-button-menu audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['edit-events']}}]" (click)="navigationMenu = false;">Edytuj wydarzenia</label>
                    <label class="navigation-button-menu audiowide" (click)="usunDyzury()">Usuń wszystkie dyżury</label>
                </div>
            </div>

            <div class="navigation-section">
                <label class="options-name">Konto parafii</label>
                <div class="navigation-section-options">
                    <label class="navigation-button-menu audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['delete-parish']}}]" (click)="navigationMenu = false;">Usuń konto</label>
                    <label class="navigation-button-menu audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['edit-parish-details']}}]" (click)="navigationMenu = false;">Zmień dane parafii</label>
                    <label class="navigation-button-menu audiowide" (click)="switchAccout()">Przełącz na widok ministranta</label>
                    <label class="navigation-button-menu audiowide" (click)="wyloguj()">Wyloguj się</label>
                </div>
            </div>

        </div>

        <div class="navigation-info">
            <label class="version row1">LSOApp {{userService.wersja}}</label>
            <label class="navigation-button-menu audiowide row1" (click)="openURL('https://lsoapp.pl/faq/')">FAQ</label>
            <label class="navigation-button-menu audiowide row2" (click)="openURL('https://lsoapp.pl/#contact')">Kontakt</label>
            <label class="navigation-button-menu audiowide row3" (click)="openURL('https://lsoapp.pl/polityka-prywatnosci/')">Regulamin i polityka prywatności</label>
        </div>

    </div>
</div>
