<div class="container">

    <div class="title-bar">
        <img src="../../assets/img/logo.png" class="img" alt="LSOApp">
    </div>

    <router-outlet name="admin" class="router"></router-outlet>

    <div class="navigation-panel">
        <div class="navigation-flex">

            <label class="options-name audiowide" *ngIf="parafiaService.nazwaParafii">p. pw. {{parafiaService.nazwaParafii}}</label>

            <div class="navigation-section">
                <label class="options-name">Zarządzanie</label>
                <div class="navigation-section-options">
                    <label class="navigation-button audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['mass']}}]">Sprawdź obecność</label>
                    <label class="navigation-button audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['acolythes-messages']}}]">Ministranci i wiadomości</label>
                    <label class="navigation-button audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['new-acolythe']}}]">Dodaj ministranta</label>
                </div>
            </div>

            <div class="navigation-section">
                <label class="options-name">Punkty</label>
                <div class="navigation-section-options">
                    <label class="navigation-button audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['punctation']}}]">Zmień punktację</label>
                    <label class="navigation-button audiowide" (click)="wyzerujPunkty()">Wyzeruj punkty</label>
                    <label class="navigation-button audiowide" (click)="generujRaport()">Generuj raport</label>
                </div>
            </div>

            <div class="navigation-section">
                <label class="options-name">Wydarzenia</label>
                <div class="navigation-section-options">
                    <label class="navigation-button audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['edit-events']}}]">Edytuj wydarzenia</label>
                    <label class="navigation-button audiowide" (click)="usunDyzury()">Usuń wszystkie dyżury</label>
                </div>
            </div>

            <div class="navigation-section">
                <label class="options-name">Konto parafii</label>
                <div class="navigation-section-options">
                    <label class="navigation-button audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['delete-parish']}}]">Usuń konto</label>
                    <label class="navigation-button audiowide" [routerLink]="['/admin-view', { outlets: {'admin': ['edit-parish-details']}}]">Zmień dane parafii</label>
                    <label class="navigation-button audiowide" (click)="switchAccout()">Przełącz na widok ministranta</label>
                    <label class="navigation-button audiowide" (click)="wyloguj()">Wyloguj się</label>
                </div>
            </div>

        </div>

        <div class="navigation-info">
            <label class="version row1">LSOApp {{userService.wersja}}</label>
            <label class="navigation-button audiowide row1" (click)="openURL('https://lsoapp.pl/faq/')">FAQ</label>
            <label class="navigation-button audiowide row2" (click)="openURL('https://lsoapp.pl/#contact')">Kontakt</label>
            <label class="navigation-button audiowide row3" (click)="openURL('https://lsoapp.pl/polityka-prywatnosci/')">Regulamin i polityka prywatności</label>
        </div>

    </div>
</div>