<!-- widok dnia -->
<div class="container" *ngIf="!kalendarz">
    <div class="navigation-panel">
        <button class="arrow icon" [disabled]="!opoznienie" (click)="indexZmiana(-1)">&#xe002;</button>
        <button class="header lexend" [disabled]="!opoznienie" (click)="naKalendarz(true)">
          <label class="icon space" *ngIf="opoznienie">&#xe01f;</label>
          <label class="space">{{ opoznienie ? naglowek : 'Ładowanie...'}}</label>
          <label class="date" *ngIf="opoznienie">{{data}}</label>
        </button>
        <button class="arrow icon" [disabled]="!opoznienie" (click)="indexZmiana(1)" *ngIf="czyMoznaDoPrzodu()">&#xe001;</button>
    </div>

    <div class="acolythes-container">
        <ng-container *ngIf="!ladowanie && opoznienie">
            <label *ngIf="dzisiejszeWydarzenia.length === 0" class="brak lexend">Brak dzisiejszych wydarzeń, aby je dodać przejdź do panelu ustawień</label>
            <div class="event-name-container">
                <label class="circle" [ngClass]="{'mass': aktywneWydarzenie.typ === 0,'unction': aktywneWydarzenie.typ === 1,'meeting': aktywneWydarzenie.typ === 2}"></label>
                <label>{{nazwaWydarzenia}}</label>
            </div>
            <div class="event">
                <label *ngIf="ministranciDoWydarzenia.length === 0 && dzisiejszeWydarzenia.length !== 0 && aktywneWydarzenie.typ !== 1" class="brak lexend">Brak obowiązkowych dyżurów, aby je dodać przejdź do panelu ministranta</label>
                <div class="title" *ngIf="ministranciDoWydarzenia.length !== 0 && dzisiejszeWydarzenia.length !== 0 && aktywneWydarzenie.typ !== 1">
                    <label class="pas"></label>
                    <label class="title-name">SŁUŻBA OBOWIĄZKOWA</label>
                </div>
                <!-- <div class="acolythes" *ngIf="lesad"> -->
                <div class="acolythes" *ngIf="ministranciDoWydarzenia.length !== 0 && dzisiejszeWydarzenia.length !== 0 && aktywneWydarzenie.typ !== 1">
                    <div class="acolythe" *ngFor="let acolythe of ministranciDoWydarzenia; let i = index" [ngClass]="{'grey': isGrey(i)}">
                        <app-checkbox-status class="checkbox-status" (checkStatus)="zmienStatusObecnosci($event, acolythe.id_user, false)" *ngIf="moznaSprawdzac() && czyJestNaLiscie(acolythe)" [status]="aktualnyStatus(acolythe)"></app-checkbox-status>
                        <label class="col-2" [ngClass]="{'col-1-2': !moznaSprawdzac()}">{{acolythe.nazwisko + ' ' + acolythe.imie}}</label>
                    </div>
                </div>
                <div class="title" *ngIf="wszyscyAktualniMinistranci.length > 0 && aktywneWydarzenie.typ !== 2">
                    <label class="pas"></label>
                    <label class="title-name click" (click)="zmienPokazDodatkowa()">SŁUŻBA DODATKOWA {{aktywneWydarzenie.typ === 1 ? '' : pokazDodatkowa ? '-' : '+'}}</label>
                </div>
                <div class="acolythes" *ngIf="aktywneWydarzenie.typ === 1 ? true : pokazDodatkowa && wszyscyAktualniMinistranci.length > 0 && aktywneWydarzenie.typ !== 2">
                    <div class="acolythe" *ngFor="let acolythe of wszyscyAktualniMinistranci; let i = index" [ngClass]="{'grey': isGrey(i)}">
                        <app-checkbox-status class="checkbox-status" *ngIf="moznaSprawdzac()" (checkStatus)="zmienStatusObecnosci($event, acolythe.id_user,true)" [trzyStany]="false" [status]="aktualnyStatus(acolythe)"></app-checkbox-status>
                        <label class="col-2" [ngClass]="{'col-1-2': !moznaSprawdzac()}">{{acolythe.nazwisko + ' ' + acolythe.imie}}</label>
                    </div>
                </div>
            </div>
            <button class="save audiowide" (click)="zapiszZmiany()" *ngIf="opoznienie" [disabled]="!zmiana || ladowanie">Zapisz</button>
        </ng-container>
        <div class="activity-container" *ngIf="(!ladowanie && !opoznienie) || (ladowanie && opoznienie)">
            <app-activity-indicator [size]="7"></app-activity-indicator>
        </div>
    </div>
</div>
<!-- widok kalendarza -->
<div class="container" *ngIf="kalendarz">
    <div class="navigation-panel">
        <button class="arrow icon" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">&#xe002;</button>
        <button class="header lexend" (click)="naKalendarz(false)">
          <label class="icon space">&#xe0e7;</label>
          <label>{{months[viewDate.getMonth()] + ' ' + viewDate.getFullYear()}}</label>
      </button>
        <button class="arrow icon" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">&#xe001;</button>
    </div>
    <div class="calendar-container">
        <mwl-calendar-month-view [locale]="'pl'" [viewDate]="viewDate" [refresh]="refresh" class="calendar" (dayClicked)="wybranyDzien($event.day)"></mwl-calendar-month-view>
    </div>
    <button class="navigation-button back audiowide" mwlCalendarToday [(viewDate)]="viewDate">Centruj</button>
</div>