.container {
    background-color: transparent;
}

.points-container {
    display: grid;
    grid-template-columns: 3fr 1fr 4fr;
    grid-template-rows: 1fr;
    padding: 1rem 0;
    width: 90%;
}

.points-name {
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

.points-count {
    grid-column: 2;
    align-self: center;
    justify-self: center;
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .7rem;
}

.points {
    grid-column: 3;
    background: #e71e25;
    padding: 0rem 1rem;
}

.underline {
    border-bottom: .2rem #c8c8c8 solid;
}

input[type=range] {
    width: 100%;
    margin: 7.3px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgba(231, 30, 37, 0.78);
    border: 0;
    border-radius: 20.8px;
    width: 100%;
    height: 11.4px;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    input[type=range]::-webkit-slider-runnable-track {
        height: 8.4px;
    }
}

@media only screen and (max-width: 600px) {
    input[type=range]::-webkit-slider-runnable-track {
        height: 6.4px;
    }
}

input[type=range]:disabled::-webkit-slider-runnable-track {
    background: rgba(126, 126, 126, 0.78);
    border: 0;
    border-radius: 20.8px;
    width: 100%;
    height: 11.4px;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    input[type=range]:disabled::-webkit-slider-runnable-track {
        height: 8.4px;
    }
}

@media only screen and (max-width: 600px) {
    input[type=range]:disabled::-webkit-slider-runnable-track {
        height: 6.4px;
    }
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -7.3px;
    width: 26px;
    height: 26px;
    background: #a51510;
    border: 0px solid rgba(0, 0, 30, 0);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}

@media only screen and (max-width: 850px) {
    input[type=range]::-webkit-slider-thumb {
        /* margin-top: -5.7px; */
        width: 22px;
        height: 22px;
    }
}

@media only screen and (max-width: 600px) {
    input[type=range]::-webkit-slider-thumb {
        margin-top: -5.7px;
        width: 18px;
        height: 18px;
    }
}

input[type=range]:disabled::-webkit-slider-thumb {
    margin-top: -7.3px;
    width: 26px;
    height: 26px;
    background: #6d6d6d;
    border: 0px solid rgba(0, 0, 30, 0);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}

@media only screen and (max-width: 850px) {
    input[type=range]:disabled::-webkit-slider-thumb {
        /* margin-top: -5.7px; */
        width: 22px;
        height: 22px;
    }
}

@media only screen and (max-width: 600px) {
    input[type=range]:disabled::-webkit-slider-thumb {
        margin-top: -5.7px;
        width: 18px;
        height: 18px;
    }
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #eb474d;
}

input[type=range]::-moz-range-track {
    background: rgba(231, 30, 37, 0.78);
    border: 0;
    border-radius: 20.8px;
    width: 100%;
    height: 11.4px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 26px;
    height: 26px;
    background: #a51510;
    border: 0px solid rgba(0, 0, 30, 0);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 8.2px 0;
    color: transparent;
    width: 100%;
    height: 11.4px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #c2151b;
    border: 0;
    border-radius: 41.6px;
}

input[type=range]::-ms-fill-upper {
    background: rgba(231, 30, 37, 0.78);
    border: 0;
    border-radius: 41.6px;
}

input[type=range]::-ms-thumb {
    width: 26px;
    height: 26px;
    background: #a51510;
    border: 0px solid rgba(0, 0, 30, 0);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(231, 30, 37, 0.78);
}

input[type=range]:focus::-ms-fill-upper {
    background: #eb474d;
}
