<div class="container">
    <label class="title audiowide">Usuń parafię</label>
    <form #newDeleteForm="ngForm" class="container-white">
        <label class="description">Czy na pewno chcesz usunąć konto swojej parafii? Wszystkie dane zostaną utracone a Twoi podopieczni utracą możliwość logowania na swoje konta.</label>
        <label class="description">Aby potwierdzić wykonywaną operację wprowadź swoje hasło:</label>
        <div class="input-object">
            <label class="input-object-title audiowide">Hasło</label>
            <input required class="input-object-description lexend" placeholder="Wpisz hasło" minlength="6" maxlength="15" pattern="([A-ZĘÓĄŚŁŻŹĆŃa-zęóąśłżźćń0-9+*@#$&^~?_]{6,15})" type="password" [(ngModel)]="_password" name="password" #password="ngModel">
        </div>
    </form>
    <button class="navigation-button back audiowide" (click)="anuluj()">Anuluj</button>
    <button class="navigation-button confirm audiowide" [disabled]="!newDeleteForm.valid" (click)="usun()">Usuń</button>
</div>