<div class="container-s">
    <label class="title-s audiowide">Zmień hasło</label>
    <form #newDetailsForm="ngForm" class="container-s-white">

        <div class="input-object-s">
            <label class="input-object-s-title audiowide">Aktualne hasło</label>
            <input type="password" required class="input-object-s-description lexend" placeholder="Wpisz aktualne hasło" [(ngModel)]="_currentPassword" [ngModelOptions]="{standalone: false}" name="actualPassword" #actualPassword="ngModel" [ngClass]="{'disabled': isDisabled, 'enabled': !isDisabled}"
                [disabled]="isDisabled">
            <label class="alert-s" *ngIf="!actualPassword.valid && actualPassword.touched && !isDisabled">Wpisz aktualne hasło</label>
        </div>

        <div class="input-object-s">
            <label class="input-object-s-title audiowide">Nowe hasło</label>
            <input type="password" required class="input-object-s-description lexend" placeholder="Wpisz nowe hasło" [(ngModel)]="_newPassword" pattern="([A-ZĘÓĄŚŁŻŹĆŃa-zęóąśłżźćń0-9+*@#$&^~?_]{6,15})" [ngModelOptions]="{standalone: false}" name="newPassword" #newPassword="ngModel"
                [ngClass]="{'disabled': isDisabled, 'enabled': !isDisabled}" [disabled]="isDisabled">
            <label class="alert-s" *ngIf="!newPassword.valid && newPassword.touched && !isDisabled">Hasło musi mieć od 6 do 15 znaków oraz składać się z polskiego alfabetu, cyfr i symboli: +,*,@,#,$,&,^,~,_,?</label>
        </div>

        <div class="input-object-s">
            <label class="input-object-s-title audiowide">Powtórz nowe hasło</label>
            <input type="password" required class="input-object-s-description lexend" placeholder="Powtórz nowe hasło" [(ngModel)]="_newPasswordRepeat" [ngModelOptions]="{standalone: false}" name="repeatPassword" #repeatPassword="ngModel" [ngClass]="{'disabled': isDisabled, 'enabled': !isDisabled}"
                [disabled]="isDisabled">
            <label class="alert-s" *ngIf="!repeatPassword.valid && repeatPassword.touched && !isDisabled || !isPasswordSame">Wpisane hasła różnią się</label>
        </div>

    </form>
    <button class="navigation-button-s back-s audiowide" (click)="anuluj()">Anuluj</button>
    <button class="navigation-button-s confirm-s audiowide" [disabled]="!newDetailsForm.valid || isDisabled || !isPasswordSame" (click)="zapisz()">Zapisz</button>
</div>
