<div class="container">
    <label class="title audiowide">Nadaj hasło</label>
    <div class="container-white">
        <label class="text-align-center">Aby nadać hasło do swojego konta, musisz potwiedzić proces kodem otrzymanym na Twoją skrzynkę e-mail</label>
        <form #newPasswordForm="ngForm" class="form">
            <div class="input-object">
                <label class="input-object-title audiowide">E-Mail</label>
                <input required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="input-object-description lexend" placeholder="Wpisz swój e-mail" type="email" [(ngModel)]="_email" name="email">
            </div>
            <div class="input-object">
                <label class="input-object-title audiowide">Kod aktywacyjny</label>
                <input required class="input-object-description lexend" maxlength="6" pattern="([0-9]{6})" placeholder="Wpisz kod aktywacyjny" [(ngModel)]="_code" name="code" #code="ngModel">
                <label class="alert" *ngIf="!code.valid && code.touched">Kod aktywacyjny nie jest poprawny</label>
            </div>
            <div class="input-object">
                <label class="input-object-title audiowide">Hasło</label>
                <input required class="input-object-description lexend" placeholder="Wpisz hasło" minlength="6" maxlength="15" pattern="([A-ZĘÓĄŚŁŻŹĆŃa-zęóąśłżźćń0-9+*@#$&^~?_]{6,15})" type="password" [(ngModel)]="_password" name="password" #password="ngModel">
                <label class="alert" *ngIf="!password.valid && password.touched">Hasło musi mieć od 6 do 15 znaków oraz składać się z polskiego alfabetu, cyfr i symboli: +,*,@,#,$,&,^,~,_,?</label>
            </div>
            <div class="input-object">
                <label class="input-object-title audiowide">Powtórz hasło</label>
                <input required class="input-object-description lexend" maxlength="15" placeholder="Powtórz hasło" type="password" [(ngModel)]="_cofirmPassword" name="confirmPassword" #confirmPassword="ngModel">
                <label class="alert" *ngIf="(!confirmPassword.valid && confirmPassword.touched) || (!isPasswordSame && confirmPassword.valid)">Hasła się różnią</label>
            </div>
        </form>
    </div>
    <button class="navigation-button back audiowide" routerLink="/login">Anuluj</button>
    <button class="navigation-button confirm audiowide" [disabled]="!newPasswordForm.valid || !isPasswordSame" (click)="wyslij()">Kontynuuj</button>
</div>