.checkbox,
.checkbox:link,
.checkbox:visited {
    width: 100%;
    height: 100%;
    color: white;
    background: transparent;
    border-radius: .5rem;
    transition: all .2s;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.checkbox:disabled {
    background: linear-gradient(to right bottom, #a0a0a0, #7c7c7c);
    color: #505050;
    border: none;
    cursor: not-allowed;
}

.checkbox:focus {
    outline: none;
}

.checkbox:active {
    transform: translateY(2px);
}

.obecny {
    background: linear-gradient(to bottom, rgb(49, 155, 49), rgb(28, 90, 28));
    border: none;
}

.nieobecny {
    background: linear-gradient(to bottom, #e71e25, #720e11);
    border: none;
}

.black-border {
    border: .2rem solid black;
}

.white-border {
    border: .2rem solid white;
}
