<div class="container">
    <form #newDetailsForm="ngForm" class="details" [style.visibility]="!isMobile || (isMobile && main) ? 'visible' : 'hidden'" [style.grid-column]="isPreist ? '1/3' : '1'" [style.width]="isPreist ? '50%' : '100%'" [style.justify-self]="'center'">
        <div class="user-name">
            <input autocomplete="given-name" required pattern="([A-ZĘÓĄŚŁŻŹĆŃa-zęóąśłżźćń -]{1,20})" min="1" max="20" class="input audiowide" (change)="zmiana = true" [disabled]="ministrant.id_user === 0" [(ngModel)]="ministrant.imie" [ngModelOptions]="{standalone: false}"
                #name="ngModel" name="name">
            <label *ngIf="!name.valid && name.touched">To pole jest wypełnione nieprawidłowo</label>
            <input autocomplete="family-name" required pattern="([A-ZĘÓĄŚŁŻŹĆŃa-zęóąśłżźćń -]{1,20})" min="1" max="20" class="input audiowide" (change)="zmiana = true" [disabled]="ministrant.id_user === 0" [(ngModel)]="ministrant.nazwisko" [ngModelOptions]="{standalone: false}"
                #lastName="ngModel" name="lastName">
            <label *ngIf="!lastName.valid && lastName.touched">To pole jest wypełnione nieprawidłowo</label>
        </div>
        <div class="user-details">
            <!-- Punkty -->
            <div class="detail-box">
                <label class="description">Punkty</label>
                <div class="point-box">
                    <button class="point-btn icon" (click)="zmienPunkty(1)" [disabled]="ministrant.id_user === 0">&#xe072;</button>
                    <input type="number" class="points lexend margin-0-1 width-8" (change)="zmiana = true" [disabled]="ministrant.id_user === 0" [(ngModel)]="ministrant.punkty" [ngModelOptions]="{standalone: false}" #points="ngModel" name="points">
                    <button class="point-btn icon" (click)="zmienPunkty(-1)" [disabled]="ministrant.id_user === 0">&#xe073;</button>
                </div>
            </div>

            <!-- Stopień -->
            <div class="detail-box">
                <label class="description">Stopień</label>
                <div class="flex-column width-25">
                    <select class="points lexend" [disabled]="ministrant.id_user === 0" (focus)="getFocus()" (blur)="lostFocus()" id="selectionx" (change)="zmiana = true" [(ngModel)]="_rank" [ngModelOptions]="{standalone: true}" #rank="ngModel" name="rankx">
                    <option class="lexend">Wybierz stopień</option>
                    <option *ngFor="let rank of ranks" [value]="rank" class="lexend">{{rank}}</option>
                  </select>
                    <label class="alert" *ngIf="!isRankNotNull && rank.touched">Wybierz stopień</label>
                </div>
            </div>

            <!-- Konto -->
            <div class="detail-box flex-column">
                <div class="flex-row">
                    <label class="description">Podpięte konto</label>
                    <div class="flex-column width-25" *ngIf="ministrant.email || przypisz">
                        <ng-container *ngIf="przypisz">
                            <input placeholder="Wpisz e-mail ministranta" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="points lexend width-25" [(ngModel)]="userEmail" [ngModelOptions]="{standalone: false}" #email="ngModel" name="email">
                            <label class="alert" *ngIf="email && !email.valid && email.touched">Wpisz poprawny adres e-mail</label>
                            <div class="center">
                                <button class="email-set audiowide margin-0-1" [disabled]="isEmailsSame || !email.valid || ladowanieEmailu" (click)="zapiszEmail()">Zapisz</button>
                                <button class="email-set audiowide black-back" (click)="przypisz = false; userEmail = null">Anuluj</button>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="ministrant.email && !przypisz">
                            <label class="detail">{{ministrant.email}}</label>
                            <button class="email-set audiowide" (click)="usun()" [disabled]="ministrant.id_user === 0 || ladowanieEmailu">Usuń dostęp do konta</button>
                        </ng-container>
                        <label class="description" *ngIf="ministrant.email !== null && ministrant.aktywny === 0">Link aktywacyjny został wysłany na podany adres email. Jeśli przez dłuższy czas ministrant nie otrzymał wiadomości, należy sprawdzić zakładkę 'SPAM'.</label>
                    </div>
                    <button class="email-set audiowide margin0" [disabled]="ministrant.id_user === 0" *ngIf="!ministrant.email && !przypisz" (click)="przypisz = true">Przypisz</button>
                </div>
            </div>

            <!-- Dane -->
            <div class="detail-box" *ngIf="ministrant.ulica || (ministrant.kod_pocztowy && ministrant.miasto) || ministrant.telefon">
                <label class="description">Dane personalne</label>
                <div class="flex-column">
                    <label class="detail" *ngIf="ministrant.ulica">ul. {{ministrant.ulica}}</label>
                    <label class="detail" *ngIf="ministrant.kod_pocztowy && ministrant.miasto">{{ministrant.kod_pocztowy + ' ' + ministrant.miasto}}</label>
                    <label class="detail" *ngIf="ministrant.telefon">{{ministrant.telefon}}</label>
                </div>
            </div>

            <!-- Dyżury (dla mobliek) -->
            <div class="detail-box" *ngIf="isMobile && ministrant.stopien !== 11">
                <label class="description">Dyżury</label>
                <div class="flex-column">
                    <label class="detail" *ngFor="let event of eventsForMobile()">{{nazwyDni[event.dzien_tygodnia] + ' '}}{{event.godzina | date: 'HH:mm'}}</label>
                    <button class="email-set audiowide" (click)="this.hideCheckboxes = false; main = false" [disabled]="ministrant.id_user === 0">Edytuj</button>
                </div>
            </div>

            <!-- Admin -->
            <div class="detail-box" *ngIf="this.ministrant.id_user !== userService.UserID && this.ministrant.aktywny === 1">
                <label class="description">Prawa administratora</label>
                <app-checkbox [status]="ministrant.admin" class="checkbox" (checkStatus)="ministrant.admin = !ministrant.admin; zmiana = true"></app-checkbox>
            </div>
        </div>
    </form>
    <div class="duties" [style.visibility]="((!isMobile || (isMobile && !main)) && ministrant.stopien !== 11) ? 'visible' : 'collapse'">
        <div class="container-duty">
            <label class="title-s audiowide">Dyżury</label>
            <div class="container-s-white">
                <form class="weekday-container" *ngFor="let weekday of nazwyDni, let i = index">
                    <app-checkbox-status *ngIf="(isMobile && !hideCheckboxes) || !isMobile" [disabled]="wyborGodziny(i).length === 0" class="checkbox-status" [czarny]="true" [status]="dni[i] ? 1 : 2" [trzyStany]="false" (checkStatus)="zmianaCheckboxa(i,$event)"></app-checkbox-status>
                    <label class="day-name">{{weekday}}</label>
                    <select class="points lexend width-8" [id]="'selection'+i" [disabled]="!dni[i]" name="dayx" (change)="chooseEvent(i)">
                      <option class="lexend" *ngIf="!dni[i]">--:--</option>
                      <option *ngFor="let event of wyborGodziny(i)" [value]="event" class="lexend">{{event.godzina | date: 'HH:mm'}}</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
    <div class="confirmation-panel">
        <button class="navigation-button-s back-s audiowide" (click)="powrot()">{{(isMobile && main) || !isMobile ? 'Anuluj' : 'Wróć'}}</button>
        <button class="navigation-button-s audiowide" *ngIf="(isMobile && main) || !isMobile" [disabled]="!zmiana || !newDetailsForm.valid || !isRankNotNull || ladowanie" (click)="zapisz()">Zapisz</button>
    </div>
</div>
