.container-s {
    background-color: transparent;
}

.parish-name-input {
    background: transparent;
    overflow: auto;
    border: none;
    font-size: 1.4rem;
    color: white;
    height: 2rem;
    margin-left: .5rem;
    width: 100%;
}

.parish-name-input:focus,
.parish-name-input:active {
    outline: none;
}

.parish-name-input::placeholder {
    color: rgb(124, 124, 124);
}

.parish-name {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 1.6rem;
}

.select {
    color: #7c7c7c;
}

.select:focus {
    color: white;
}

.pw {
    color: #7c7c7c;
}

.disabled {
    background-color: #505050;
}

.enabled {
    background-color: rgb(20, 20, 20);
}
