.container-s {
    background-color: transparent;
}

.select-disabled {
    background-color: #131313;
}

.disabled {
    background-color: #505050;
}

.enabled {
    background-color: rgb(20, 20, 20);
}

.select {
    color: #7c7c7c;
}

.select:focus {
    color: white;
}
