.points-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.points {
    color: #e71e25;
    font-size: 2.5rem;
}

.description {
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
}
