<div class="container-main">

    <div class="title-bar">
        <div class="title-bar-center">
            <div class="points-container audiowide" *ngIf="userService.UserStopien !== 11">
                <label class="points">{{UserRank ? UserRank : '--'}}</label>
                <label class="description">Miejsce</label>
            </div>
            <img src="../../assets/img/logo.png" class="img" alt="LSOApp">
            <div class="points-container audiowide" *ngIf="userService.UserStopien !== 11">
                <label class="points">{{UserPoints ? UserPoints : '--'}}</label>
                <label class="description">Punkty</label>
            </div>
        </div>
        <button class="menu-button icon" *ngIf="isNavigation" (click)="navigationMenu = !navigationMenu"> {{navigationMenu ? '&#xe08c;' : '&#xe017;'}}</button>
    </div>

    <div class="router">
        <router-outlet name="acolythe"></router-outlet>
    </div>

    <div class="navigation-panel" *ngIf="(navigationMenu && isNavigation) || !isNavigation">
        <div class="navigation-flex">

            <label class="options-name audiowide" *ngIf="userService.UserImieINazwisko">{{ (userService.UserStopien === 11 ? 'ks. ' : '')  + userService.UserImieINazwisko}}</label>

            <div class="navigation-section">
                <label class="options-name">Aktualności</label>
                <div class="navigation-section-options">
                    <label class="navigation-button-menu audiowide" [routerLink]="['/acolythe-view', { outlets: {'acolythe': ['duties-messages']}}]" (click)="navigationMenu = false;" *ngIf="!isMobile">Dyżury i wiadomości</label>
                    <label class="navigation-button-menu audiowide" [routerLink]="['/acolythe-view', { outlets: {'acolythe': ['duties-messages']}}]" (click)="ui.showLeftComponent = true; navigationMenu = false;" *ngIf="isMobile">Dyżury</label>
                    <label class="navigation-button-menu audiowide" [routerLink]="['/acolythe-view', { outlets: {'acolythe': ['duties-messages']}}]" (click)="ui.showLeftComponent = false; navigationMenu = false;" *ngIf="isMobile">Wiadomości</label>
                </div>
            </div>

            <div class="navigation-section">
                <label class="options-name">Twoje dane</label>
                <div class="navigation-section-options">
                    <label class="navigation-button-menu audiowide" [routerLink]="['/acolythe-view', { outlets: {'acolythe': ['user-details']}}]" (click)="navigationMenu = false;">Dane profilowe</label>
                </div>
            </div>

            <div class="navigation-section">
                <label class="options-name">Konto</label>
                <div class="navigation-section-options">
                    <label class="navigation-button-menu audiowide" [routerLink]="['/acolythe-view', { outlets: {'acolythe': ['delete-account']}}]" (click)="navigationMenu = false;">Usuń konto</label>
                    <label class="navigation-button-menu audiowide" [routerLink]="['/acolythe-view', { outlets: {'acolythe': ['change-password']}}]" (click)="navigationMenu = false;">Zmień hasło</label>
                    <label class="navigation-button-menu audiowide" (click)="switchAccount()" *ngIf="userService.UserPerm === 1">Przełącz na widok opiekuna</label>
                    <label class="navigation-button-menu audiowide" (click)="wyloguj()">Wyloguj się</label>
                </div>
            </div>

        </div>

        <div class="navigation-info">
            <label class="version row1">LSOApp {{userService.wersja}}</label>
            <label class="navigation-button-menu audiowide row1" (click)="openURL('https://lsoapp.pl/faq/')">FAQ</label>
            <label class="navigation-button-menu audiowide row2" (click)="openURL('https://lsoapp.pl/#contact')">Kontakt</label>
            <label class="navigation-button-menu audiowide row3" (click)="openURL('https://lsoapp.pl/polityka-prywatnosci/')">Regulamin i polityka prywatności</label>
        </div>

    </div>
</div>
