@import "../node_modules/angular-calendar/css/angular-calendar.css";
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    width: 100vw;
    height: 100vh;
    color: white;
}

.audiowide {
    font-family: 'Audiowide', cursive;
}

.lexend {
    font-family: 'Lexend Deca', sans-serif;
}

.icon {
    font-family: 'iconmonstr-iconic-font';
}

@font-face {
    font-family: 'iconmonstr-iconic-font';
    src: url('./assets/fonts/iconmonstr-iconic-font.woff2') format('woff2'), url('./assets/fonts/iconmonstr-iconic-font.woff') format('woff'), url('./assets/fonts/iconmonstr-iconic-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.mass {
    background: linear-gradient(to bottom right, #e71e25 35%, #a5151a 65%);
}

.unction {
    background: linear-gradient(to bottom right, #4beaff 35%, #0987fd 65%);
}

.meeting {
    background: linear-gradient(to bottom right, #fffb12 35%, #f5c905 65%);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #282828;
}

::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: .3rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
}
