.offset-20 {
    padding-top: 0rem;
}

@media only screen and (max-height: 820px) and (min-width: 850px) {
    .offset-20 {
        padding-top: 20rem;
    }
}

.terms:focus {
    outline: none;
}

.terms:active {
    transform: translateY(2px);
}

.skip {
    grid-column: 2/4;
    grid-row: 4;
}

.parish-name-input {
    background-color: rgb(20, 20, 20);
    overflow: auto;
    border: none;
    font-size: 1.4rem;
    color: white;
    height: 2rem;
    margin-left: .5rem;
    width: 100%;
}

.parish-name-input:focus,
.parish-name-input:active {
    outline: none;
}

.parish-name-input::placeholder {
    color: rgb(124, 124, 124);
}

.parish-name {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 1.6rem;
}

.pw {
    color: #7c7c7c;
}

.select {
    color: #7c7c7c;
}

.select:focus {
    color: white;
}

.checkbox-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    height: 5rem;
    padding: 1rem;
}

.checkbox-description {
    color: black;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.checkbox {
    grid-column: 1;
    justify-self: center;
    align-self: center;
    margin: .5rem;
}

.terms {
    color: #e71e25;
    cursor: pointer;
    text-align: center;
}
